body {
    /* background-color: #212121;
    color: white; */
    font-family: sans-serif;
}

article {
    max-width: 600px;
    margin: auto;
}
article + article {
    margin-top: 2rem;
    border-top: 1px solid #212121;
}
